@font-face {
  font-family: "bebas";
  src: url("fonts/bebas/bebasneue-regular-webfont.woff") format("woff"),
    url("fonts/bebas/bebasneue-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "chuckfive";
  src: url("fonts/chuckfive/chunkfive-regular-webfont.woff") format("woff"),
    url("fonts/chuckfive/chunkfive-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "quicksand-reg";
  src: url("fonts/quicksand/quicksand-regular-webfont.woff") format("woff"),
    url("fonts/quicksand/quicksand-regular-webfont.woff2") format("woff2");
}
